.col-wrapper {
  margin-top: 2em;
}

.image {
  width: 25%;
}

.btn-primary {
  background-image: none;
  border: none;
  border-radius: 0;
  background-color: #2892D7;
}

.formContainer {
  padding: 22px;
  border-width: 1px;
  border-color: #e6e6e6;
  border-style: outset;
  border-radius: 4px;
}
