.logo-wrapper {
  margin-top: 2em;
  margin-bottom: 3em;
}

.logo {
  min-width: 120px;
  width: 20%;
}

.addEmployeeWrapper {
  margin-bottom: 12px;
}

.btn-primary {
  background-image: none;
  border: none;
  border-radius: 0;
  background-color: #2892D7;
}

.formContainer {
  padding: 22px;
  border-width: 1px;
  border-color: rgb(191, 191, 191);;
  border-style: solid;
  border-radius: 4px;
}
